<app-navbar></app-navbar>
<div class="d-row">
  <app-sidenav ></app-sidenav>
  <div class="d-col w-100">
    <div class="toolset">
      <button>排序</button>
      <button>新增項目</button>
    </div>
    <div class="d-row content">
      <div *ngFor="let item of kpis" class="d-col al-center chartbox">
        <app-chart
          [value]="item.value"
          [max]="item.max"
          [title]="item.title"
        ></app-chart>
        <div class="info">
          <span></span>
          <span>{{ item.value }}</span>
          <span>當前進度</span>
        </div>
        <div class="info">
          <span></span>
          <span>{{ item.max }}</span>
          <span>目標</span>
        </div>
      </div>
    </div>
  </div>
</div>
