.toolset {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.5rem 2rem;
  gap: 1.5rem;
}

.content {
  padding: 0 2rem;
}

.chartbox {
  background-color: var(--primary-color);
  padding: 0 0 24px 0;
  gap: 1rem;
  margin: 0 2rem 1rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-of-type {
    margin-top: -30px;
  }

  >:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 600;
  }
  >:nth-child(3) {
    font-size: .8rem;
    padding-top: .2rem;
  }
}
