.wrap {
  height: calc(100vh - 60px)
}

.example-container {
  height: 100%;
  background: var(--secondary-color);
  color: white;
}

.example-sidenav {
  background: var(--secondary-color);
  color: white;
  padding: 1rem 2rem;
  width: 130px;
}

.example-sidenav-content {
  padding: 24px 12px 24px 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  color: white;
  line-height: 3rem;
  text-decoration: none;

  &:hover {
    opacity: .5;
  }
}
