<div class="wrap">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer opened class="example-sidenav" mode="side">
      <a class="item" routerLink="/dashboard">圖表總覽</a>
      <a class="item" routerLink="/week-arrange">時間安排</a>
      <!-- @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
      }
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
    </mat-drawer>

    <!-- <div
      class="example-sidenav-content"
      (click)="drawer.toggle(); showFiller = !showFiller"
    >
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </div> -->
  </mat-drawer-container>
</div>
