/* You can add global styles to this file, and also import other style files */
$primary-color: #161824;
$secondary-color: #0F0F1B;

html,
body {
  --primary-color: #161824;
  --secondary-color: #0F0F1B;

  height: 100%;
  background-color: #060610;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  padding: 0px;
}

button {
  background-color: #23262F;
  border-radius: 6px;
  border: 1px solid #23262F;
  color: #c0c0c0;
  font-size: 20px;
  padding: 12px 20px;

  &:hover {
    background-color: #2e3147;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.primary-color {
  color: $primary-color;
}

.primary-bg-color {
  background-color: $primary-color;
}

//

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-col {
  display: flex;
  flex-direction: column;
}

.d-row {
  display: flex;
  flex-direction: row;
}

.al-center {
  display: flex;
  align-items: center;
}

.al-end {
  display: flex;
  align-items: flex-end;
}

.jc-center {
  display: flex;
  justify-content: center
}

.jc-end {
  display: flex;
  justify-content: flex-end;
}
